* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}
.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}
header {
  padding-bottom: 136px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0px;
}

.navbar__menu {
  display: flex;
  column-gap: 33px;
  align-items: center;
}
.navbar__menu-link {
  color: #83888f;
  font-family: "Barlow";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
}
.navbar__menu-link:hover {
  color: #333d4b;
  font-family: "Barlow";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}
.navbar__open {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}
.navbar__checkbox {
  display: none;
}
.navbar__remove {
  display: none;
}
.navbar__checkbox:checked ~ .navbar__remove {
  display: block;
}
.navbar__checkbox:checked ~ .navbar__open {
  display: none;
}
.hero {
  background-image: url("../imgs/Bitmap.jpg");
  background-repeat: no-repeat;
  min-height: 600px;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 85px;
}
.hero__content {
  max-width: 493px;
}

.hero__content-title {
  color: #fefcf7;
  font-family: "Fraunces 9pt";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
}
.hero__content-text {
  color: #fefcf7;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 56px;
  margin-top: 32px;
}
.hero__content-btn {
  color: #fefcf7;
  text-align: center;
  font-family: "Fraunces 9pt";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 138.889% */
  border-radius: 6px;
  background: #0e8784;
  width: 217px;
  height: 56px;
  border: 2px solid #0e8784;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s linear;
}
.hero__content-btn:hover {
  color: #0e8784;
  border: 2px solid #0e8784;
  background-color: #fff;
}

.collection {
  padding-top: 126px;
  background-image: url("../imgs/icons/collection-bg.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  height: 525px;
}
.collection__cards {
  display: flex;
  padding-left: 86px;
  padding-right: 86px;
  column-gap: 30px;
  padding-bottom: 200px;
}
.collection__cards-card {
  display: flex;
  flex-direction: column;
}
.collection__cards-card__img {
  width: 255px;
  height: 193px;
}
.collection__cards-card__text {
  max-width: 255px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.collection__cards-card__title {
  color: #333d4b;
  text-align: center;
  font-family: "Fraunces 9pt";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 24px;
  margin-top: 71.55px;
}
.collection__cards-card__subtitle {
  color: #333d4b;
  font-family: " Barlow";
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 255px;
}
.features {
  width: 100%;
  height: 577px;
  border-radius: 10px;
  background: #2c343e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin-top: 100px;
}
.features__text {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  height: 160px;
  text-align: center;
}
.features__text-title {
  color: #fefcf7;
  text-align: center;
  font-family: "Fraunces 9pt";
  margin-bottom: 32px;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
}
.features__text-subtitle {
  color: #fefcf7;
  text-align: center;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.features__cards {
  display: flex;
  padding-top: 86px;
  column-gap: 30px;
}
.features__cards-card {
  width: 350px;
  height: 382px;
  border-radius: 8px;
  background: #0e8784;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}
.features__cards-card__text {
  max-width: 255px;
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  margin-top: 56px;
}
.features__cards-card img {
  width: 72px;
  height: 72px;
}
.features__cards-card__text-title {
  color: #fefcf7;
  text-align: center;
  font-family: "Fraunces 9pt";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}
.features__cards-card__text-subtitle {
  color: #fefcf7;
  text-align: center;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.features__cards-card img:nth-last-child() {
  width: 72px;
  height: 50px;
}
.details {
  padding-top: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 85px;
  margin-bottom: 200px;
}
.details__header {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-bottom: 67px;
}
.details__header-title {
  color: #83888f;
  font-family: "Fraunces 9pt";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  max-width: 255px;
}
.details__header-img {
  width: 760px;
  height: 31px;
}

.details__cards {
  display: flex;
  column-gap: 95px;
  margin-bottom: 64px;
}
.details__cards-card__number {
  color: #fdd6ba;
  font-family: "Fraunces 9pt";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 100% */
}
.details__cards-card {
  max-width: 285px;
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details__cards-card__title {
  color: #333d4b;
  font-family: "Fraunces 9pt";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  max-width: 255px;
  width: 100%;
  height: 73px;
  text-align: start;
}
.details__cards-card__subtitle {
  color: #333d4b;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 285px;
}
.details-btn {
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background: #66d2cf;
  color: #fefcf7;
  font-family: " Fraunces 9pt";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #66d2cf;
}
.footer {
  width: 100%;
  height: 120px;
  background: #2c343e;
  margin-bottom: 88px;
  display: flex;
  align-items: center;
  padding-left: 85px;
  padding-right: 85px;
  justify-content: space-between;
}
.footer__links {
  display: flex;
  column-gap: 102px;
  align-items: center;
}
.footer__links-menu {
  display: flex;
  column-gap: 33px;
}
.footer__links-img {
  width: 236px;
  height: 26px;
}
.footer__links-menu__link {
  color: #83888f;
  font-family: "Barlow";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  transition: 0.4s linear;
}
.footer__links-menu__link:hover {
  color: #fefcf7;
}
.footer__socials {
  display: flex;
  width: 120px;
  justify-content: space-between;
}
.footer__socials i {
  font-size: 20px;
  color: #fff;
  transition: 0.4s all;
}
.footer__socials i:hover {
  color: rgb(232, 172, 151);
}
@media (max-width: 768px) {
  .hero {
    padding-left: 58px;
  }
  .hero__content {
    max-width: 398px;
  }
  .hero__content-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
  }
  .hero__content-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
    margin-top: 24px;
  }
  .hero__content-btn {
    width: 217px;
    height: 56px;
  }
  .hero__content-btn:hover {
    color: #0e8784;
    border: 2px solid #0e8784;
    background-color: #fff;
  }
  .collection {
    background-image: url("../imgs/collection-bg-tablet.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 59px;
    padding-bottom: 129px;
  }
  .collection__cards {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .collection__cards-card {
    display: flex;
    flex-direction: row;
    max-width: 573px;
    height: 193px;
    column-gap: 36px;
  }
  .collection__cards-card__text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 282px;
  }
  .collection__cards-card__title {
    color: #333d4b;
    font-family: "Fraunces 9pt";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 24px;
    text-align: start;
  }
  .collection__cards-card__subtitle {
    color: #333d4b;
    font-family: "Barlow";
    text-align: start;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
  }
  .features {
    max-width: 688px;
    width: 100%;
    height: 573px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    justify-content: center;
    margin-top: 500px;
  }
  .features__text {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  }
  .features__text-title {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
  }
  .features__text-subtitle {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
  .features__cards {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-right: 80px;
  }
  .features__cards-card {
    width: 573px;
    height: 180px;
    display: flex;
    flex-direction: row;
    column-gap: 55px;
    padding-left: 70px;
    padding-bottom: 62px;
  }
  .features__cards-card__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 16px;
    max-width: 344px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 41px;
  }
  .features__cards-card__text-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    text-align: start;
  }
  .features__cards-card__text-subtitle {
    font-size: 15px;
    font-style: normal;
    text-align: start;

    font-weight: 400;
    line-height: 25px;
  }
  .details {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 144px;
  }
  .details__header {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .details__header-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
  }
  .details__header-img {
    width: 467px;
    height: 31px;
  }
  .details__cards-card {
    width: 223px;
    height: 371px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .details__cards-card__number {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
  }
  .details__cards-card__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    max-width: 233px;
  }
  .details__cards-card__subtitle {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .details-btn {
    width: 217px;
    height: 56px;
  }
  .footer {
    height: 270px;
    margin-bottom: 72px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 65px;
  }
}

@media (max-width: 576px) {
  .navbar__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 32px;
    position: fixed;
    top: 15%;
    width: 100%;
    background-color: #fff;
    height: 100vh;
    z-index: 2;
    transform: translateX(120%);
    visibility: hidden;
    transition: 0.4s linear;
  }
  .navbar__checkbox:checked + .navbar__menu {
    transform: translateX(0);
    visibility: visible;
  }
  .navbar__open {
    display: block;
  }

  .navbar__menu-link {
    color: #333d4b;
    text-align: center;
    font-family: "Fraunces 9pt";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
  }
  .hero {
    padding-left: 0;
    justify-content: center;
    height: 500px;
  }

  .hero__content {
    max-width: 279px;
    text-align: center;
  }
  .hero__content-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
  }
  .hero__content-text {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 24px;
    margin-bottom: 39px;
  }
  .hero__content-btn:hover {
    color: #0e8784;
    border: 2px solid #0e8784;
    background-color: #fff;
  }
  .hero {
    background-image: url("../imgs/hero-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  head {
    padding-bottom: 120px;
  }
  .collection {
    background-image: url("../imgs/collection-bg-mobile.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 120px;
  }
  .collection__cards {
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .collection__cards-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 282px;
    height: 273px;
    margin-top: 58px;
  }
  .collection__cards-card__img {
    width: 200px;
    height: 151px;
  }
  .collection__cards-card__text {
    display: flex;
    flex-direction: column;
  }
  .collection__cards-card__title {
    color: #333d4b;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    margin-top: 24px;
  }
  .collection__cards-card__subtitle {
    font-family: "Barlow";
    text-align: center;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 282px;
    margin-bottom: 16px;
    height: 50px;
  }
  .features {
    margin-top: 1100px;
    height: 902px;
    padding-top: 400px;
  }

  .features__text-subtitle {
    visibility: hidden;
  }
  .features__cards {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .features__cards-card {
    width: 279px;
    height: 382px;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-right: 60px;
  }
  .features__cards-card__text {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    height: 154px;
    padding-bottom: 40px;
  }
  .features__cards-card__text-title {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
  }
  .features__cards-card__text-subtitle {
    text-align: center;
  }
}
